// COLORS
$color-primary: #2a2d3f;
$color-secondary: #ff5771;
$color-secondary-dark: #e64e66;
$color_primary-dark: #201e42;
$color-grey-dark: #131418;
$color-grey-light: #616679;
$color-light: #e6e6e6;

// Whitespace
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

// FONTS
// font size system :
// 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

// Font family
$primary-font: "Noto Sans", sans-serif;

//Font weights
$thin_300: 300;
$default_400: 400;
$semi-bold_500: 500;
$bold_600: 600;
$bold_700: 700;

//Line heights
$Default__LH: 1;
$Small__LH: 1.05;
$Medium: 1.2;
$Paragraph_default__LH: 1.6;
$Large__LH: 1.8;
